@import 'font/flaticon.css';

.flex-main-wrap {
    display: flex;

}

.icons::before {
    margin-left: 0;
}

.flex-main-wrap .side-bar {
    height: 100vh;
    width: 200px;
    border-right: 1px solid #e8e9e9;
    padding: 2rem 0 1rem 0;
    display: flex;
    flex-direction: column;
}

.flex-main-wrap .content-section {
    flex-grow: 1;
    height: 100vh;
    overflow-y: auto;
    background-color: #f9fdfc;
}

.side-bar .logo-sidebar {
    width: 8rem;
}

.side-bar .nav-link {
    font-size: 0.8rem;
    color: #707070;
    padding: 0.55rem 2rem;
    display: flex;
    align-items: center;
    line-height: 1;
}

.side-bar .logo-wrap {
    padding: 0 1.5rem;
}

.side-bar .nav-wrap .nav-item {
    margin-bottom: 1rem;
}

.side-bar .nav-link.active {
    background-color: #edf9f9;
}

.side-bar .nav-link .nav-icon::before {
    margin-right: 0.9rem;
    font-size: 0.9rem;
}

.side-bar .nav-link.active .nav-icon::before {
    color: #01a6ab;
}

.side-bar .nav-wrap {
    margin-top: 3rem;
}

.side-bar .nav-link .user-icon-sm {
    width: 1rem;
    margin-right: 0.9rem;
}

.side-bar .nav-wrap-bottom .nav-item {
    margin-bottom: 0rem !important;
}

.content-header {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 2rem;
    border-bottom: 1px solid #e8e9e9;
    background-color: #ffff;
}

.content-header .search-wrap {
    display: flex;
    align-items: center;
}

.search-wrap .btn i::before {
    font-size: 1.1rem;
    color: #707070;
}

.no-shadow:focus {
    box-shadow: none;
}

.search-wrap input {
    border: none;
}

.content-header .nav-link {
    color: #707070;
    line-height: 1;
    display: flex;
    align-items: center;
}

.content-header .nav-link i::before {
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

.greeting-wrap {
    color: #707070;
    margin-top: 2.5rem;
}

.greeting-wrap .title {
    font-size: 1.7rem;
}

.greeting-wrap .desc {
    font-size: 1.2rem;
    margin-bottom: 0;
}

.dashboard-box {
    display: flex;
    align-items: center;
    padding: 2.5rem 2.2rem;
    /* max-width: 425px; */
    border-radius: 0.5rem;
    margin-right: 1rem;
    margin-top: 3rem;
}

.dashboard-box .icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 57px;
    border-radius: 1rem;
    margin-right: 1.8rem;
}

.dashboard-box .content {
    color: #837070;
    font-size: 1.3rem;
}

.dashboard-box .icon-wrap .box-icon::before {
    font-size: 1.7rem;
}

.favourite-box {
    background-color: #bed9ff;
}

.favourite-box .icon-wrap {
    background-color: #99bef1;
}

.favourite-box .box-icon::before {
    color: #064fb8;
}

.views-box {
    background-color: #ffdfd1;
}

.views-box .icon-wrap {
    background-color: #ecc0ac;
}

.views-box .box-icon::before {
    color: #a2411a;
}

.clicks-box {
    background-color: #c6f4f5;
}

.clicks-box .icon-wrap {
    background-color: #9fe4e6;
}

.clicks-box .box-icon::before {
    color: #01a6ab;
}

.training-box {
    background-color: #e6d9ff;
}

.training-box .icon-wrap {
    background-color: #c8b8e8;
}

.training-box .box-icon::before {
    color: #50348a;
}

.segment-head {
    color: #707070;
    font-size: 1.1rem;
    border-bottom: 2px solid #e9ebea;
    padding-bottom: 0.7rem;
    margin: 3rem 0 2rem 0;
}

.x-padd-dashboard {
    padding: 0 5.5rem 0 4.5rem !important;
}

.dashboard-img-wrap {
    height: 240px;
    border-radius: 0.5rem;
}

.dashboard-img-wrap img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    border-radius: 0.5rem;
}

.profile-option {
    /* display: none; */
    position: absolute;
    width: 250px;
    /* right: -13px; */
    bottom: 35px;
    border-radius: 1rem;
    box-shadow: 3px 2px 16px #bebebe;
    display: none;
    z-index: 9999;
    background-color: #ffffff;
}

.profile-option .top-section {
    padding: 1.3rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    background-color: #f9f9f9;
}

.user-info-wrap {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.user-info {
    display: flex;
    align-items: center;
}

.profile-option .user-image .user-icon {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 0.7rem;
}

.username-wrap .name {
    font-size: 0.9rem;
    color: #897d79;
    margin-bottom: 3px;
}

.username-wrap .desc {
    font-size: 0.6rem;
    color: #838383;
}

.profile-option .bottom-section {
    padding: 1rem 0;
    background-color: #fff;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.bottom-section .nav-item {
    padding: 0.5rem 0;
}

.bottom-section .nav-link {
    padding: .2rem 0.3rem;
}

.dropdown-icons::before {
    font-size: 1rem;
    color: #c4c4c4;
    margin: 0 1rem;
    font-weight: 500;
}

.drop-items {
    flex-direction: column;
}

.drop-items .text,
.text-logout {
    color: #9a7d92;
    font-weight: 600;
    margin-bottom: 0.3rem;
}

.drop-items .desc {
    font-size: 0.7rem;
    color: #bebebe;
}

.show {
    display: block !important;
}

.settings-pill {
    margin-top: 3rem;
}

.settings-pill .nav-link {
    background-color: #e7eae9;
    color: #827382;
    font-size: 0.9rem;
    border-radius: 0;
    padding: .5rem 2.7rem;
}

.settings-pill .nav-item:nth-child(1) .nav-link {
    border-radius: 0.2rem 0 0 0.2rem;
}

.settings-pill .nav-item:nth-child(2) .nav-link {
    border-radius: 0 0.2rem 0.2rem 0;
}

.settings-pill .nav-link.active {
    background-color: #01a6ab;
    color: #ffff;
}

.setting-item {
    max-width: 65%;
}

.form-title {
    font-size: 1rem;
    font-weight: 500;
    border-bottom: 1px solid #eff6f9;
    padding-bottom: 0.7rem;
}

.setting-item label {
    font-size: 0.8rem;
}

.setting-item .account-form {
    border: 1px solid #000;
    border-radius: 0.6rem;
    background-color: transparent;
    padding: 0.5rem 0.7rem;
}

.upload-wrap {
    display: flex;
    margin-right: 1.2rem;
    align-items: center;
}

.upload-wrap .upload-btn {
    display: flex;
    align-items: center;
    background-color: #bdbfbf;
    color: #fff;
    font-size: 0.9rem;
    margin-right: 0.5rem;
    padding: 0.1rem 0rem 0.1rem 0.7rem;
    border-radius: 2rem;
    cursor: pointer;
    position: relative;
}

.upload-btn .text {
    color: #ffff;
    margin-right: 0.8rem;
    font-size: 0.7rem;
}

.upload-wrap .upload-btn .icon-wrap {
    transform: rotate(180deg);
    background-color: transparent;
    margin-right: 0.5rem;
    padding: 0.2rem 0.5rem;
    border-radius: 50%;
}

.upload-wrap .upload-btn .icon-wrap .upload-icon::before {
    font-size: 0.6rem;
    color: #fff;
}

.upload-btn input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}

.user-image-prev {
    margin-right: 1rem;
}

.user-image-prev .user-image-icon {
    width: 4rem;
    color: #bababa;
}

.btn-save {
    background-color: #01a6ab;
    color: #ffff;
    font-size: 0.7rem;
    padding: .375rem 1.35rem;
}

.add-team-left .create-box {
    border-radius: 0.4rem;
    padding: 2.5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 240px;
    background-color: #ccedee;
    min-width: 215px;
    margin-bottom: 0;
    border: 2px solid #3ababd;
    cursor: pointer;
}

.add-team-left .create-box .create-icn::before {
    color: #01a6ab;
    font-size: 3.5rem;
}

.shared-campaigns-wrap {
    flex-grow: 1;
    /* padding: 1rem 1rem;
    border-left: 1px solid #000; */
    margin-left: 3rem;
    height: calc(100vh - 250px);
}

.teams-added-box {
    background-color: #e7eae9;
    display: flex;
    padding: 0.9rem 2rem 0.9rem 1rem;
    border-radius: 0.3rem;
    max-width: 700px;
}

.team-name-icon,
.team-role-tool,
.role-section,
.desc-imgs {
    display: flex;
    align-items: center;
}

.team-name-icon {
    flex-grow: 1;
}

.teams-added-box .team-name-icon img {
    width: 1.5rem;
    height: 1.5rem;
}

.team-name-icon .title {
    font-size: 0.9rem;
    color: #000;
    margin-left: 3rem;
}

.role-section {
    width: 200px;
}

.role-section .user-role {
    margin-right: 0.5rem;
    font-size: 0.9rem;
}

.desc-imgs img {
    width: 1.2rem;
    margin-right: -5px;
}

.team-role-tool .tools {
    margin-left: 1rem;
}

.tools .nav-link {
    color: #000000;
    padding: 0;
    margin-right: 0.5rem;
}

.tools .nav-link i::before {
    font-size: 0.8rem;
}

.agency-label-box {
    margin-top: 2rem;
    max-width: 248px;
}

.agency-label-box .label-box {
    background-color: #e8f7f6;
    color: #01a6ab;
    border: 1px solid #9eddde;
    padding: 0 3rem 0 4rem;
    height: 190px;
    max-height: 185px;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.agency-label-box button {
    font-size: 0.8rem;
    padding: 0.7rem 0.75rem;
    background-color: #e8f7f6;
    color: #01a6ab;
    border: 1px solid #01a6ab;
}

.btn-agency {}

.modal-inner {
    display: flex;
    /* align-items: center; */
}

.modal-inner .left-section {
    width: 50%;
    min-height: 70vh;
    background-color: #01a6ab;
}

.left-section .chat-img {
    max-width: 100%;
    width: 20rem;
    margin: 4rem 0 2rem 0;
}

.modal-inner .right-section {
    width: 50%;
    min-height: 70vh;
    padding: 3rem 3rem 3rem 2.5rem;
}

.add-team-form .title,
.workspace-form .title {
    font-size: 0.6rem;
    color: #707070;
    margin-bottom: 1rem;
}

.add-team-form .form-control,
.workspace-form .form-control {
    background-color: #f5f5f5;
    font-size: 0.8rem;
    height: calc(1.5em + .75rem + 15px);
    padding: 0.35rem 1.35rem;
    border: none;
}

.bottom-btn-wrap {
    margin-top: 4rem;
}

.bottom-btn-wrap .btn-save,
.bottom-btn-wrap .btn-cancel {
    color: #000;
    padding: 0.3rem 1.7rem;
    font-size: 0.8rem;
}

.bottom-btn-wrap .btn-save {
    background-color: #f0f9f9;
}

.left-section {
    padding: 3rem;
}

.left-section .title {
    color: #ffff;
    font-size: 2rem;
    font-weight: bold;
}

.btn-add-pixel {
    display: flex;
    align-items: center;
    color: #01a6ab;
    font-size: 0.9rem;
    padding: 0;
    margin: 2.5rem 3rem;
}

.btn-add-pixel i::before {
    color: #01a6ab;
    font-size: 1.8rem;
    margin-right: 0.5rem;
}

.main-table th,
.main-table tr,
.main-table td {
    border: none !important;
}

.main-table th {

    font-weight: 500;
    font-size: 1.2rem;
}

.main-table thead tr {
    background-color: #f4f8f7;
}

.main-table td {
    font-size: 1.1rem;
}

.main-table td,
.main-table th {
    color: #3a3a3a;
    padding: 1.2rem 0 1.2rem 3rem;
}

.table-actions .nav-link {
    padding: 0;
    margin-right: 0.5rem;
}

.table-actions .nav-link i::before {
    font-size: 0.9rem;
    font-weight: 900;
    color: #ff0000;
}

#add-pixel-modal .left-section,
#show-info-modal .left-section {
    width: 40%;
}

#add-pixel-modal .right-section,
#show-info-modal .right-section {
    width: 60%;
}

.pixel-title {
    color: #fff;
    font-size: 1.3rem;
    padding-left: 0.4rem;
}

.pixel-title img {
    width: 1.8rem;
    margin-right: 0.4rem;
}

.pixels-nav .nav-link {
    color: #fff;
    font-size: 1rem;
    display: flex;
    align-items: center;
    border-radius: 2rem;
    padding: .5rem 0.5rem;
    margin-bottom: 0.2rem;
}


.pixels-nav .nav-link.active {
    background-color: #3bbabe;
}

.pixels-nav .nav-link img {
    width: 1.6rem;
    margin-right: 1rem;
}


.modal-lg,
.modal-xl {
    max-width: 950px;
}

.right-section .tab-title {
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
    color: #d6d6d6;
}

.pixel-title-social {
    background-color: #e5f6f7;
    color: #8b8c8c;
    font-size: 0.9rem;
    display: inline-flex;
    align-items: center;
    padding: 0.7rem 2rem 0.7rem 1rem;
    border-radius: 0.2rem;
}

.pixel-title-social img {
    width: 1rem;
    margin-right: 0.7rem;
}

.pixel-form {
    background-color: #f5f5f5;
    border: none;
    padding: 0.375rem 1.15rem;
    height: calc(1.5em + .75rem + 10px);
    font-size: 0.9rem;
}

.pixel-form:focus {
    background-color: #f5f5f5;
}

#add-pixel-modal .bottom-btn-wrap {
    margin-top: 7rem;
}

#add-pixel-modal .modal-inner .right-section {
    width: 50%;
    min-height: 70vh;
    padding: 3rem 4rem 3rem 3rem;
}

#add-text-modal .modal-inner {
    position: relative;
}

.test-title {
    color: #fff;
    font-size: 1rem;
}

.test-box {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 155px;
    max-width: 300px;
    border-radius: 0.5rem;
    margin-top: 7rem;
    cursor: pointer;
}

.add-icon-wrap {
    width: 70px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.4rem;
}

.add-icon-wrap i {
    margin-bottom: -0.4rem;
}

.add-icon-wrap i::before {
    font-size: 1.8rem;
}

.left-section .test-box {
    background-color: #33b8bc;
}

.left-section .add-icon-wrap {
    background-color: #5bc6ca;
}

.left-section .add-icon-wrap i::before {
    color: #fff;
}

.right-section .test-box {
    background-color: #ccedee;
}

.right-section .add-icon-wrap {
    background-color: #a3dfe1;
}

.right-section .add-icon-wrap i::before {
    color: #01a6ab;
}

.form-test {
    position: absolute;
    display: flex;
    align-items: center;
    width: 80%;
    left: 50%;
    margin-left: -408px;
    top: 120px;
}

.form-test .test-input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    transition: all 0.5s;
}

.form-test .test-input:focus {
    border-bottom: 2px solid #01a6ab;
    outline: none;
}

.form-test label {
    color: #fff;
    margin-bottom: 0;
    margin-right: 0.8rem;
    font-size: 0.9rem;
}

#add-test-modal .modal-inner .right-section {
    padding: 4rem 3rem 3rem 4rem;
}

#add-test-modal .left-section {
    padding: 4rem;
}

#add-image-modal .modal-inner {
    display: block;
}

#add-image-modal .title {
    color: #5f5f5f;
    font-size: 1rem;
}

.image-outter {
    padding: 3rem 2rem;
}

.images-section {
    height: 55vh;
    overflow-y: auto;
}

#add-image-modal .bottom-btn-wrap {
    margin-top: 2rem;
}

.split-test-wrap {
    flex-grow: 1;
    margin-left: 2rem;
    max-width: 800px;
}

.split-box {
    min-height: 240px;
    background-color: #ccedee;
    border: 2px solid #3ababd;
    border-radius: 0.4rem;
    padding: 1.2rem 3rem 0.3rem 3rem;
}

.split-box .split-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
}

.split-box .split-head .table-actions .nav-link i::before {
    color: #3ababd;
    font-weight: bolder;
}

.split-test-box {
    margin-top: 0.7rem;
}

.split-test-box:first-child {
    margin-right: 2.3rem;
}

.split-test-box img {
    width: 100%;
    max-width: 100%;
    border-radius: 0.7rem;
}

.split-tool-bar {
    margin-top: 0.7rem;
}

.split-tool-bar .nav-link {
    font-size: 0.5rem;
    padding: 0 0.5rem;
    display: flex;
    align-items: flex-start;
    color: #0f686a;
}

.split-tool-bar .nav-link i::before {
    font-size: 0.8rem;
    margin-right: 0.3rem;
}

.saved-project-box {
    border-radius: 0.4rem;
    padding: 2.5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 240px;
    background-color: #ffdfd1;
    min-width: 190px;
    margin-bottom: 0;
    cursor: pointer;
}

.saved-project-box .info-icn::before {
    color: #a2411a;
    font-size: 1.5rem;
}

.test-preview iframe {
    width: 100%;
    border: none;
    height: 215px;
    border-radius: 0.9rem;
}

.preview-stat {
    justify-content: space-between;
    margin-top: 1.5rem;
    padding: 0 2rem;
}

.preview-stat .nav-item {
    font-size: 0.7rem;
    color: #6a6a6a;
    display: flex;
    align-items: center;
}

.preview-stat .nav-item i::before {
    font-size: 1.3rem;
    margin-right: 0.5rem;
}

.preview-action .nav-item {
    margin-right: 1rem;
}

.preview-action .nav-link {
    color: #000;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}

.preview-action .nav-link i::before {
    margin-right: 0.5rem;
}

#show-info-modal .bottom-btn-wrap {
    margin-top: 2rem;
}

.preview-settings {
    display: flex;
}

.preview-settings .vid-info {
    margin-right: 2rem;
}

.preview-settings .vid-info .vid-title {
    font-size: 0.6rem;
}

.preview-settings .vid-info .vid iframe {
    width: 100%;
    max-width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

.preview-settings .vid-info .vid {
    width: 170px;
    height: 150px;

}

.preview-settings .vid-info .size-text {
    font-size: 0.5rem;
    margin-top: 0.5rem;
}

.add-section .stat {
    justify-content: space-between;
    border-bottom: 1px solid #838383;
    padding: 0 0 0.4rem 0.6rem;
}

.add-section .stat .nav-item {
    font-size: 0.6rem;
    color: #838383;
    display: flex;
    align-items: center;
}

.add-section .stat .nav-item i::before {
    font-size: 0.9rem;
    margin-right: 0.5rem;
}

.add-section .form-check {
    font-size: 0.6rem;
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.add-section .form-check-input {
    margin-top: -0.1rem;
    transform: scale(0.7);
}

.form-link {
    display: flex;
    align-items: center;
}

.form-link i::before {
    margin-right: 0.5rem;
    font-size: 0.8rem;
}

.link-input {
    background-color: #fafafa;
    height: calc(1.5em + .75rem + -9px);
    border: none;
    /* font-size: 0.7rem; */
}

.sub-title {
    font-size: 0.7rem;
    border-bottom: 2px solid #bbbbbb;
    padding-bottom: 0.3rem;
    margin: 2rem 0;
    color: #bbbbbb;
}

.range-tarriff {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.range-tarriff label {
    font-size: 0.8rem;
    margin-bottom: 0;
    margin-right: 3rem;
}

.range-tarriff .progress {
    flex-grow: 1;
    height: 0.4rem;
    background-color: #073941;
    margin-right: 0.5rem;
    overflow: visible;
}

.range-tarriff .progress .progress-bar {
    background-color: #01a6ab;
    position: relative;
    overflow: visible;
}

.range-tarriff .progress .progress-bar::after {
    content: "";
    background-color: #01a6ab;
    position: absolute;
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    left: 100%;
}

.range-tarriff .tarriff-value {
    font-size: 0.9rem;
}

.pref-download {
    margin-top: 1.2rem;
}

.pref-download .nav-link {
    font-size: 0.7rem;
    padding: 0.9rem 1rem;
    border-radius: 0.3rem;
}

.pref-download .nav-item {
    margin-bottom: 0.5rem;
}

.pref-download .nav-item:nth-child(1) .nav-link {
    background-color: #3bbabe;
    color: #fff;
}

.pref-download .nav-item:nth-child(2) .nav-link {
    background-color: #ede4ff;
    color: #395e6a;
}

.pref-download .nav-item:nth-child(3) .nav-link {
    background-color: #d1e4ff;
    color: #395e6a;
}

.pref-download .nav-item:nth-child(4) .nav-link {
    background-color: #ffe8df;
    color: #395e6a;
}

.pref-download .nav-item:nth-child(5) .nav-link {
    background-color: #ede4ff;
    color: #395e6a;
}

.pref-download .nav-item:nth-child(6) .nav-link {
    background-color: #d1e4ff;
    color: #395e6a;
}


.side-action-share .desc {
    font-size: 0.8rem;
}

.share-box {
    display: flex;
    align-items: center;
    border: 1px solid #f4f4f4;
    border-radius: 0.5rem;
    padding: 0.2rem;
}

.share-box input {
    border: none;
    background-color: transparent;
    font-size: 0.8rem;
}

.share-box .btn-share-now {
    background-color: #01a6ab;
    color: #fff;
    padding: 0.2rem 1.5rem;
}

.side-action-share .bottom-btn-wrap {
    margin-top: 15rem !important;
}

.publish-options .nav-link {
    font-size: 0.8rem;
    color: #8c8498;
    flex-grow: 1;
    text-align: center;
    border-radius: 0.3rem;
}

.publish-options .nav-link.active {
    background-color: #afe3e5;
    color: #216364;
}

.url-box {
    display: flex;
    align-items: center;
    background-color: #f6fbfb;
    border-radius: 0.3rem;
    padding: 0.3rem 0.7rem;

}

.url-box input {
    background-color: transparent !important;
    border: none;
    font-size: 0.8rem;
}

.side-action-publish .bottom-btn-wrap {
    margin-top: 7rem !important;
}

.navmenu {
    padding: 0.7rem 1rem;
    background-color: #f8fbfe;
    width: 100%;
}

.navmenu .navbar-brand {
    margin-right: 5rem;
}

.navmenu .nav-right-section {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.navmenu .nav-link {
    display: flex;
    position: relative;
    align-items: center;
    font-size: 0.9rem;
    margin-right: 1rem;
    cursor: pointer;
    color: #01a6ab;
    padding: 0;
}

.navmenu .nav-link i::before {
    font-size: 1.2rem;
}

.drop-user-icon::before {
    font-size: 0.7rem !important;
    margin-left: 0.2rem;
}

.profile-btn {
    position: relative;
}

.navmenu .profile-option {
    right: 0;
    width: 268px;
    bottom: -293px;
}

.bg-workspace-body {
    background-color: #f9fdfc;
    min-height: 100vh;
}

.workspace-main-title {
    color: #073941;
    font-size: 1.9rem;
    margin-bottom: 2rem;
}

.workspaces-wrap {
    display: flex;
    align-items: center;
}

.workspace-empty {
    color: #4d4d4d;
    margin-left: 6rem;
    display: flex;
    align-items: center;
}

.workspace-empty i::before {
    font-size: 1.1rem;
    margin-right: 1rem;
}

.workspace-box {
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    padding: 1.3rem 1rem 1rem 1rem;
    min-height: 240px;
    background-color: #ccedee;
    min-width: 215px;
    max-width: 215px;
    margin-bottom: 1rem;
    border: 2px solid #3ababd;
    cursor: pointer;
    max-height: 240px;
}

.workspace-box .workspace-logo {
    width: 2.5rem;
}

.workspace-box .workspace-name {
    margin-top: 0.7rem;
    font-weight: bold;
}

.workspace-box .default-text {
    background-color: #a3dfe1;
    color: #42b7ba;
    display: inline-block;
    font-size: 0.6rem;
    padding: 0.2rem 1.5rem;
    border-radius: 1.4rem;
    margin-top: 0.4rem;
}

.workspace-box .bottom-info {
    margin-top: auto;
    display: flex;
}

.workspace-box .status {
    font-size: 0.7rem;
}

.workspace-box .date-created {
    font-size: 0.8rem;
    margin-top: 0.2rem;
}

.workspace-box .workspace-toolbar {
    align-self: flex-end;
}

.workspace-action .nav-link {
    padding: 0;
    font-size: 0.7rem;
    color: #01a6ab;
}

.workspace-action .nav-item {
    margin-right: 0.3rem;
}

.workspace-box .workspace-details {
    flex-grow: 1;
    margin-right: 1rem;
}

.workspace-form .form-control {
    background-color: #f2fbf9;
    font-size: 0.7rem;
    border-radius: 0.8rem;
}

.workspace-form .upload-wrap .upload-btn {
    display: flex;
    font-size: 0.8rem;
    align-items: center;
    background-color: #a8d4d7;
    padding: 0.4rem 1.4rem 0.4rem 0.4rem;
    border-radius: 1.5rem;
    margin-right: 1rem;
    position: relative;
    cursor: pointer;
}

.workspace-form .upload-btn .icon-wrap {
    background-color: #d3e9eb;
    width: 1.4rem;
    height: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 1rem;
    transform: none;
}

.workspace-form .upload-btn .icon-wrap .upload-icon::before {
    font-size: 0.7rem;
    font-weight: 800;
    color: #01a6ab;
}

.workspace-form .upload-wrap .btn-cancel-upload {
    background-color: #fcc9c9;
    border-radius: 50%;
    padding: 0.3rem 0.5rem;
    display: flex;
}

.workspace-form .btn-cancel-upload .cancel-icon {
    color: red;
    font-size: 0.6rem;
}

.workspace-form .upload-btn .text {
    color: #0a0d0d;
    margin-right: 0.8rem;
    font-size: 0.7rem;
}

.workspace-form .btn {
    font-size: 0.8rem;
    padding: .375rem 0.95rem;
}

.workspace-form .btn-create {
    background-color: #01a6ab;
    color: #ffff;
}

.workspace-form .btn-close {
    color: #18abb2;
}

.modal-info {
    margin-top: auto;
    font-size: 0.5rem;
}

#add-workspace-modal .modal-inner .right-section,
#add-workspace-modal .modal-inner .left-section {
    min-height: 75vh;
}

.art-section {
    height: 100vh;
    width: 55%;
    background-image: url('../Login/login\ art.svg');
    background-color: #f6fcfb;
    background-repeat: no-repeat;
    background-size: 530px;
    background-position: 28px calc(100% + 100px);
    padding: 2.5rem 4rem;
}

.form-section {
    height: 100vh;
    width: 45%;
    display: flex;
    align-items: center;
    padding: 0 4rem 2rem 3rem;
    flex-direction: column;
}

.art-section .logo-login {
    width: 9rem;
    margin-bottom: 2rem;
}

.art-section .desc {
    color: #2c5a5a;
    font-weight: bolder;
    font-size: 2.2rem;
}

.art-section .desc span {
    color: #01a6ab;
}

.login-form-wrap {
    min-width: 330px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form-wrap .title {
    font-size: 1.8rem;
    color: #073941;
    font-weight: bold;
}

.login-form-wrap .desc {
    color: #817d81;
    font-size: 0.7rem;
    margin-bottom: 2rem;
}

.login-form-wrap label {
    font-size: 0.8rem;
    color: #707070;
}

.login-form-wrap .input-signin {
    font-size: 0.8rem;
    height: calc(1.5em + .75rem + 11px);
    border: 1px solid #01a6ab;
}

.forgot-pwd .nav-link {
    padding: 0;
    color: #7d7470;
    font-size: 0.9rem;
}

.btn-login {
    background-color: #01a6ab;
    color: #ffffff;
    font-size: 0.9rem;
    margin: 1.5rem 0;
    padding: 0.75rem 0.75rem;
}

.text-more-info {
    text-align: center;
    color: #7d7470;
    font-size: 0.9rem;
}

.text-more-info a {
    color: inherit;
}

.copy-right {
    margin-top: auto;
    font-size: 0.7rem;
    color: #7d7470;
}